body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}


h1 {
  color: #66BFBF;
  font-size: 85px;
  width: 30%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  padding-top: 140px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}


h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover {
  color: #EAF6F6;
}

.div {
  position: inherit;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px
  padding-bottom: 180px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-icon {
  position: absolute;
  padding-left: 350px;
  padding-top: 40px;
  width: 250px;
  height: 220px;
}

.bottom-icon {
  position: relative;
  padding-right: 200px;
  padding-bottom: 550px;
  width: 150px;
  height: 150px;
}


.forest-img {
  padding-right: 350px;
  position: relative;
}

.middle-img {
  margin: auto;
  padding-top: 80px;
}

.education-img {
  filter: drop-shadow(8px 8px 5px black);
}

.profile-img {
  filter: drop-shadow(0px 20px 11px);
}

.python-img {
  width: 25%;
  float: left;
  margin-right: 50px;
    filter: drop-shadow(0px 8px 5px black);
}

.DS-img {
  width: 25%;
  float: right;
  margin-left: 50px;
    filter: drop-shadow(0px 10px 10px black);
}

.consulting-img {
  filter: drop-shadow(0px 7px 3px black);
}

.myButton {
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#E4F9F5;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
    filter: drop-shadow(0px 5px 3px black);
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

@@media screen and width (max-width: 360px) {

}
